PORT=4000
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/rentease_backend
JWT_SECRET=generate_a_long_random_string_minimum_32_characters
RECAPTCHA_SECRET_KEY=your_google_recaptcha_secret_key
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_gmail_app_password
CLIENT_URI=http://localhost:3000